In [1]:
# Set up PANDAS

% pylab inline
# see https://ipython.readthedocs.io/en/stable/interactive/magics.html

%config InlineBackend.figure_format = 'svg'
import pandas as pd
import numpy as np
import urllib
import json

print("Pandas version:", pd.__version__)
print("Numpy version:", np.__version__)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 125)
pd.set_option('display.precision', 3)

Populating the interactive namespace from numpy and matplotlib
Pandas version: 0.23.4
Numpy version: 1.14.3

In [2]:
# df1 = Farecard Data
# df2 = Turnstile Data
# df3 = Entrance Information
# df1 = pd.read_csv(
#     'http://web.mta.info/developers/data/nyct/fares/fares_180922.csv', header=[2]
#     )
df2 = pd.read_csv(
    'http://web.mta.info/developers/data/nyct/turnstile/turnstile_180922.txt'
    )
#df1 = df1.rename(index=str,{"10-T": "10 TRIP", "14-D": "14 DAY", "1-D": "1 DAY/FUNPASS", "2-T": "2 TRIP", "30-D": "30 DAY", "7-D": "7 DAY", "ADA": "AMERICANS WITH DISABLITIES ACT", "AFAS": "ADA FARECARD ACCESS SYSTEM", "EXP": "EXPRESS", "EZPAY": "EASY PAY", "FF": "FULL FARE", "MC": "METROCARD", "MR": "MAIL AND RIDE", "MTHLY": "MONTHLY", "RFM": "REDUCED FARE MEDIA", "RR": "RAIL ROAD", "SEN/DIS": "SENIOR CITIZEN/DISABLED", "SPEC": "SPECIAL", "TCMC": "TRANSIT CHECK METROCARD", "TKT": "TICKET", "UNL": "UNLIMITED", "XBUS": "EXPRESS BUS", "STUDENT": "STUDENT USAGE"})
df3 = pd.read_csv(
    'http://web.mta.info/developers/data/nyct/subway/StationEntrances.csv'
    )
### Test
df4 = pd.read_csv(
    'http://web.mta.info/developers/data/nyct/subway/StationEntrances.csv'
    )

df2['DATETIME'] = df2['DATE'] + ' ' + df2['TIME']
df2['DATETIME'] = pd.to_datetime(df2['DATETIME'],format='%m/%d/%Y %H:%M:%S')

# Clean-up labels
df2.rename(columns={'EXITS                                                               ': 'EXIT'}, inplace=True)

### Clean: Convert the 4 series to string if not null 
df3['Route_8'] = df3['Route_8'].apply(lambda x: "{:.0f}".format(x) if not pd.isnull(x) else x)
df3['Route_9'] = df3['Route_9'].apply(lambda x: "{:.0f}".format(x) if not pd.isnull(x) else x)
df3['Route_10'] = df3['Route_10'].apply(lambda x: "{:.0f}".format(x) if not pd.isnull(x) else x)
df3['Route_11'] = df3['Route_11'].apply(lambda x: "{:.0f}".format(x) if not pd.isnull(x) else x)

### Clean: Remove all whitespaces for the 7 series
df3['Route_1'] = df3.Route_1.str.strip()
df3['Route_2'] = df3.Route_2.str.strip()
df3['Route_3'] = df3.Route_3.str.strip()
df3['Route_4'] = df3.Route_4.str.strip()
df3['Route_5'] = df3.Route_5.str.strip()
df3['Route_6'] = df3.Route_6.str.strip()
df3['Route_7'] = df3.Route_7.str.strip()

### Concatenate lines (Routes) and create 'CnctRte'
df3['CnctRte'] = df3['Route_1'].fillna('') + df3['Route_2'].fillna('') + df3['Route_3'].fillna('') + df3['Route_4'].fillna('') + df3['Route_5'].fillna('') + df3['Route_6'].fillna('') + df3['Route_7'].fillna('') + df3['Route_8'].fillna('') + df3['Route_9'].fillna('') + df3['Route_10'].fillna('') + df3['Route_11'].fillna('')
# df3['CnctRte'] = set(df3['Route_1'].fillna(''), df3['Route_2'].fillna(''), df3['Route_3'].fillna(''), df3['Route_4'].fillna(''), df3['Route_5'].fillna(''), df3['Route_6'].fillna(''), df3['Route_7'].fillna(''), df3['Route_8'].fillna(''), df3['Route_9'].fillna(''), df3['Route_10'].fillna(''), df3['Route_11'].fillna(''))


# def alert(c):
#   if c['used'] == 1.0:
#     return 'Full'
#   elif c['used'] == 0.0:
#     return 'Empty'
#   elif 0.0 < c['used'] < 1.0:
#     return 'Partial'
#   else:
#     return 'Undefined'
# df3['Route_12'] = df3.apply(lambda x: "{:.0f}".format(x) if not pd.isnull(x) else x)


df2['LINENAME'] = df2['LINENAME'].apply(lambda x: ''.join(sorted(set(x))))
df3['CnctRte'] = df3['CnctRte'].apply(lambda x: ''.join(sorted(set(x))))

In [ ]:
# Import Nominatim from geopy
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="my-application")

# Create a list of station to source the search on Google API
mta_stations = list(df2['STATION'].unique())
# Create a dataframe to collect search results
stations_loc = pd.DataFrame(columns = ['STATION', 'LAT', 'LONG'])
locs = pd.DataFrame(data=None)


######## Below uses geopy Nominatim. For Google API see below.
for STATION in mta_stations:
    try:
        search_criteria = STATION + ' New York, NY'
        location = geolocator.geocode(search_criteria)
        lat = location.latitude
        long = location.longitude
        locs = locs.append(pd.Series((STATION, lat, long)), ignore_index=True)
    except:
        print(STATION)

# STATION = 'LIVONIA AV'
# search_criteria = STATION + ' station, New York, NY'
# location = geolocator.geocode(search_criteria)
# lat = location.latitude
# long = location.longitude
# locs = locs.append(pd.Series((STATION, lat, long)), ignore_index=True)
# locs

5 AV/59 ST
57 ST-7 AV
34 ST-HERALD SQ
8 ST-NYU
WHITEHALL S-FRY
JAY ST-METROTEC
ATL AV-BARCLAY
4AV-9 ST
BAY RIDGE-95 ST
BAY 50 ST
CONEY IS-STILLW
W 8 ST-AQUARIUM
1 AV
NEW LOTS
CANARSIE-ROCKAW
HOWARD BCH JFK
75 ST-ELDERTS

In [3]:
# Set variables for the API
locs = pd.DataFrame(data=None)
gmaps_base_url = 'https://maps.googleapis.com/maps/api/geocode/json?'
api_key = 'AIzaSyBrSMdjoUWrRflbtMYx3LDcXgzXR_puIF0'
scontext = None

# Create a list of station to source the search on Google API
mta_stations = list(df2['STATION'].unique())
# Create a dataframe to collect search results
stations_loc = pd.DataFrame(columns = ['STATION', 'LAT', 'LONG'])

# search_criteria = {'address': 'TIMES SQ-42 ST' + 'Subway station, New York, NY',
#                    'key' : api_key
#                    }
# url = gmaps_base_url + urllib.parse.urlencode(search_criteria)
# uh = urllib.request.urlopen(url, context=scontext)
# data = uh.read()
# js = json.loads(data)
# lat = js['results'][0]['geometry']['location']['lat']
# long = js['results'][0]['geometry']['location']['lng']
# locs = locs.append(pd.Series((station, lat, long)), ignore_index=True)

# Search
for station in mta_stations:
    try:
        search_criteria = {'address': station + 'Subway station, New York, NY',
                           'key' : api_key
                           }
        url = gmaps_base_url + urllib.parse.urlencode(search_criteria)
        uh = urllib.request.urlopen(url, context=scontext)
        data = uh.read()
        js = json.loads(data)
        lat = js['results'][0]['geometry']['location']['lat']
        long = js['results'][0]['geometry']['location']['lng']
        locs = locs.append(pd.Series((station, lat, long)), ignore_index=True)
    except:
        print(station)

# Search
# for STATION in mta_stations:
#     try:
#         search_criteria = {STATION + ' station, New York, NY'}
#         location = geolocator.geocode(search_criteria)
#         lat = location.latitude
#         long = location.longitude
#         locs = locs.append(pd.Series((station, lat, long)), ignore_index=True)
#     except:
#         print(station)

# locs.to_frame()

# errors = {'CONEY IS-STILLW' : 11224,
#           'JFK JAMAICA CT1' : 11435,
#           'HOYT-SCHER' : 11201,
#           'AQUEDUCT N.COND' : 11417,
#           'KEW GARDENS' : 11415,
#           'NEWARK BM BW' : '07102',
#           'JAMAICA VAN WK' : 11418,
#           'MORISN AV/SNDVW' : 10472,
# # }

# for station, zip_code in errors.iteritems():
#     zips = zips.append(pd.Series((station, zip_code)), ignore_index=True)

JUNCTION BLVD

In [7]:
df2.STATION.unique().shape[0]

374

In [6]:
locs.to_csv('LongLat.csv', sep='\t', encoding='utf-8')

In [ ]:
df3[df3.Station_Name=="Fulton St"].head(25)
pd.to_datetime(df2['TIME'],format = "%H:%M:%S").dt.time



# df2.sample(25, random_state=42)
# df2[(df2.LINENAME=='NQR')].groupby('DIVISION').count()
# df2.filter(df2.LINENAME.like('')).collect()



#df2[(df2.UNIT=='R318')&(df2.STATION!='FULTON ST')].sort_values(['DATE','TIME'], ascending=True)
#df2[(df2.UNIT=='R318')].sort_values(['DATE','TIME'], ascending=True)



# df2st = df2.groupby('STATION', as_index=False)['UNIT'].count()
# df3st = df3.groupby('Station_Name', as_index=False)['Corner'].count()
# dfj = pd.merge(df2st, df3st, how='left', left_on='STATION', right_on='Station_Name')

df2st = df2.groupby('STATION', as_index=False)['UNIT'].count()
df3st = df3.groupby('Station_Name', 'Station_Latitude', 'Station_Longitude', as_index=False)['Corner'].count()
dfj = pd.merge(df2st, df3st, how='inner', left_on='STATION', right_on='Station_Name').



# df2.groupby('STATION')['STATION'].nunique()
# df2.groupby(['DATETIME','STATION'])['ENTRIES','EXIT'].sum()
# # df2.head(50)
# #df2.sample(25, random_state=42)
# df2['LNM'] = df2.LINENAME[:]
# df2.sample(100)
# .groupby('LINENAME').nunique()
# df3.groupby('Cre').nunique()



# df3['CnctRte'].append()

# df3['key'] = df3['']

# df3 = df3.drop(['CnctRte1', 'CnctRte2'], axis=1)
# df3['CnctRte1'] = df3['Route_1'].fillna('') + df3['Route_2'].fillna('') + df3['Route_3'].fillna('') + df3['Route_4'].fillna('') + df3['Route_5'].fillna('') + df3['Route_6'].fillna('') + df3['Route_7'].fillna('') + df3['Route_8'].astype(str).fillna('') + df3['Route_9'].fillna('') + df3['Route_10'].astype(str).fillna('') + df3['Route_11'].astype(str).fillna('')
# df3['CnctRte1'] = df3['Route_1', 'Route_2', 'Route_3', 'Route_4', 'Route_5', 'Route_6', 'Route_7', 'Route_8', 'Route_9', 'Route_10', 'Route_11'].astype(str).values.sum(axis=1)
# df3[df3.Route_8.notnull()]
# df3.columns
# df3['Corner'] = df3['Corner'].apply(lambda x: "{:.0f}".format(x) if not pd.isnull(x) else x)
df3.groupby(['Station_Name', 'Station_Latitude', 'Station_Longitude'], as_index=False)['Corner'].count()

In [10]:
# pd.merge()
df2.groupby(['STATION','LINENAME'])['LINENAME'].nunique().shape[0]
# df2.groupby(['STATION','LINENAME'])['ENTRIES','EXIT'].sum()
# df3.CnctRte.dtype
# df3.CnctRte.sample(150)



# df3[df3.Route_1=='B ']
# df3.groupby(['Station_Name', 'Station_Latitude', 'Station_Longitude'], as_index=False)['Corner'].count()
# df3.groupby(['CnctRte'])['CnctRte'].nunique()
df3.groupby(['Station_Name','CnctRte'])['CnctRte'].nunique().shape[0]



# edit distances
# levinstein distance

# df2[df2.STATION=='Rockaway Park-Beach 116th']
# df2[(df2.LINENAME=='1237ACEGNRSW')&(df2.STATION=='42 ST-PORT AUTH')|(df2.LINENAME=='1237ACENQRSW')&(df2.STATION=='42 ST-PORT AUTH')].groupby(['STATION','LINENAME','DIVISION'])['UNIT'].count()
df2[(df2.LINENAME=='1237ACEGNRSW')|(df2.LINENAME=='1237ACENQRSW')|(df2.LINENAME=='1237ACENQRS')].groupby(['STATION','LINENAME','DIVISION'])['UNIT'].count()# df2[df2.STATION=='42 ST-PORT AUTH'].groupby(['STATION','LINENAME','DIVISION'])['UNIT'].count()
# df2.STATION.nunique()
# df3.groupby(['Station_Name', 'Division', 'Station_Latitude', 'Station_Longitude'])['Corner'].count().reset_index()
# df3.columns
# sample(25, random_state=32)

df3[(df3.CnctRte=='1237ACEGNQRS')|(df3.CnctRte=='1237ACENQRS')].groupby(['Station_Name','CnctRte','Division'])['Corner'].count()
# df3[df3.Division=='N307']
# df3[df3.CnctRte=='H']
# df3.Station_Name.nunique()
# df3.groupby('Station_Name')['Corner'].count()
# df3[df3.Station_Name=="Fulton St"].head(25)
# df3.sample(100)

Station_Name          CnctRte       Division
42nd St               1237ACENQRS   IND         9
Times Square          1237ACEGNQRS  IRT         1
                      1237ACENQRS   IRT         9
Times Square-42nd St  1237ACENQRS   BMT         4
Name: Corner, dtype: int64